---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import Demo from '../components/Demo.astro';
import FeatureGrid from '../components/FeatureGrid.astro';
import UseCases from '../components/UseCases.astro';
import WhoIsThisFor from '../components/WhoIsThisFor.astro';
import InstallGuide from '../components/InstallGuide.astro';
import FAQ from '../components/FAQ.astro';

const cx = 'mx-auto max-w-5xl px-4 sm:px-6 lg:px-8';
---

<BaseLayout>
  <div class={cx}>
    <Hero />
    <Demo />
  </div>

  <div class={cx}>
    <WhoIsThisFor />
  </div>

  <div class="section-elevated">
    <div class={cx}>
      <UseCases />
    </div>
  </div>

  <div class={cx}>
    <FeatureGrid />
  </div>

  <div class={cx}>
    <InstallGuide />
  </div>

  <div class="section-elevated">
    <div class={cx}>
      <FAQ />
    </div>
  </div>


</BaseLayout>
